<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  window.phoneImage = "<%= asset_path("phone.png")%>"
  window.loginBiker = "<%= asset_path("tourdefrance.jpg")%>"
  window.profilePic = "<%= asset_path("profile_placeholder.jpg")%>"
</script>
<div id='root'></div>
