.feed-items {

  .show-item-container {
    width: 590px;
    background-color: white;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
    margin: 10px;
    border-radius: 6px;

    & > header {
      display: none;
    }

    & > div {
      padding: 15px 20px 15px 20px;
      display: flex;

      & > div {
        .user-img {
          height: 40px;
          width: 40px;
          background-image: image_url("profile_placeholder.jpg");
          background-size: contain;
          border-radius: 25px;
        }



      }

      & > ul {

      }
    }

    & > img {
      margin: 20px;
      border-radius: 2px;

    }
  }

}
