.feed-items {

  .show-item-container {
    width: 590px;
    background-color: white;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
    margin: 10px;
    border-radius: 4px;
    margin-bottom: 12px;

    & > header {
      display: none;
    }

    & > div {
      padding: 15px 25px 10px 25px;
      display: flex;

      & > div {
        width: 62px;

        .user-img {
          height: 40px;
          width: 40px;
          border-radius: 25px;
          margin-bottom: 12px;
        }

        i {
          color: #565656;
          font-size: 21px;
          margin-left: 6px;
        }

        & > ul {
          display: none;
        }

      }

      & > ul {
        max-width: 486px;
        & > ul {
          header > a {
            font-size: 15px;
            font-weight: 500;
          }

          li:nth-child(2) {
            font-size: 12px;
            color: #666;
            margin-bottom: 5px;
          }

          a {
            color: black;
            font-size: 21px;
            font-weight: 500;
          }

          li:last-child {
            font-weight: 400;
            font-size: 14px;
            margin-top: 8px;
            margin-bottom: 10px;
          }

        }

        & > div {
          display: flex;

          .divide {
            width: 1px;
            height: 28px;
            border-left: 1px solid #e6e6eb;
            margin-top: 9px;
          }

          > ul:first-child {
            margin-left: 0px;
          }

          > ul {
            margin: 0px 17px;

            li:first-child {
              font-size: 12px;
              font-weight: 400;
              color: #606065;
            }

            li:nth-child(2) {
              font-size: 21px;
              font-weight: 400;
            }
          }
        }

      }
    }

    & > [class^="vertical-divide"] {
      height: 1px;
      border-bottom: 1px solid #e6e6eb;
      width: 524px;
      margin: auto;
      padding: 0px;
    }

    & > .vertical-divide-bottom {
      height: 60px;
      border-top: 1px solid #e6e6eb;
      width: 524px;
      margin: auto;
      padding: 0px;
    }

    & > a {
        margin: 20px 20px 12px 20px;
        img {

        border-radius: 2px;
      }
    }

    & > img {
      margin: 20px 20px 0px 20px;
      border-radius: 2px;

    }

  }

}
