.dashboard-master {
  width: 100%;
  background-color: #f5f5fa;
  position: absolute;

  & > .nav-container {
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
    

    & > .nav-master-div {
      margin: auto 20px auto 20px;
    }
  }
  & > div:nth-child(2) {
      width: 1258px;
      padding: 0 20px 0 20px;
      margin: auto;

    & > .dashboard-body {
      width: 1218px;
      margin: auto;
      margin-top: 118px;

      .workout-feed {
        width: 592px;
        margin: auto;
      }

    }
  }
}
