.dashboard-master {
  width: 100%;
  background-color: #f5f5fa;
  position: absolute;

  & > .nav-container {
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.04);


    & > .nav-master-div {
      margin: auto 20px auto 20px;
    }
  }
  & > div:nth-child(2) {
      width: 1258px;
      padding: 0 0px 0 0px;
      margin: auto;

    & > .dashboard-body {
      width: 1218px;
      margin: auto;
      margin-top: 106px;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-gap: 6px;

      .left-aside {
        display: flex;
        flex-direction: column;
        align-items: center;

        .dash-top-container {
          height: 276px;
          box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
          background-color: white;
          width: 280px;
          border-radius: 4px;
          margin-top: 10px;
        }

        .dash-lower-left {
          height: 592px;
          box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
          // background-color: white;
          width: 280px;
          border-radius: 4px;
          margin-top: 12px;
        }
      }

      .workout-feed {
        width: 592px;
        margin: 0px auto;
        position: relative;

        & > .dropdown:hover, .active {
          box-shadow: 4px 4px 20px rgba(13,13,18,0.08), -1px -1px 8px rgba(13,13,18,0.02);
          background-color: white;
        }

        & > .dropdown {
          position: absolute;
          top: -40px;
          left: -5px;
          font-weight: 300;
          width: 144px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: space-around;

          & > section {
            position: relative;
            outline: none;
            width: 144px;
            height: 40px;
            display: flex;
            align-items: center;
            // justify-content: space-around;
            text-indent: 15px;

            > span > i {
              margin-left: -10px;
            }

            > div {
              position: absolute;
              left: 0px;
              top: 40px;
              background-color: white;
              z-index: 1;

              > ul {
                width: 144px;
                height: 40px;
                border-top: 1px solid #ccccd1;
                box-shadow: 4px 4px 20px rgba(13,13,18,0.08), -1px -1px 8px rgba(13,13,18,0.02);

                > li {
                  margin: auto;
                  padding: 8px 8px;
                  text-indent: 8px;
                }

                > li:hover {
                  background-color: #f5f5fa;
                }

              }
            }
          }
        }
      }

    }
  }
}
