.greeting-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.image-login-container {
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#number-1-text {
  font-weight: 300;
  font-size: 46px;
  margin-bottom: 80px;
}

.greeting-image {
  height: 300px;
  width: auto;
}

.greeting-email-button {
  height: 54px;
  width: 245px;
  border: 1px solid $gray;
  display: flex;
  align-items: center;
}

#signup-email {
  margin: 0 auto;
  font-size: 15px;
  margin-right: 52px;
  color: black;
}

.greeting-email-button > i {
  margin-right: 20px;
  font-size: 18px;
  margin-left: 10px;
}

.greeting-email-button:hover {
  background-color: $gray-hover;
  border-color: $border-gray-hover;
}
