ul.request-master.empty {
  width: 170px;
  left: 54px;
  height: 40px;
}

.request-master {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  top: 57px;
  background-color: white;
  right: -120px;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;

  .empty-requests {
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin: auto;
  }

  & > li:first-child {
    padding: 12px 10px 6px 10px;
  }

  & > li:last-child {
    padding: 6px 10px 12px 10px;
  }

  & > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;

    > section {
      display: flex;
      justify-content: left;

      > .prof-pic {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        background-image: image_url("profile_placeholder.jpg");
      }

      > p {
        width: 110px;
        font-size: 12px;
        margin-left: 12px;
        padding: 2px;
        line-height: 18px;

        > a {
          font-weight: 500;
          color: black;
        }
      }
    }

    & > div {
      display: flex;
      width: 100px;
      justify-content: space-around;

      > div {
        font-size: 12px;
        font-weight: 700;
        color: $rt-orange;
        cursor: pointer;
      }
    }
  }
}
