.routebuilder-master {
  height: 100%;
  width: 100%;
}

.routebuilder-main {
  height: 100%;
  width: 100%;
  position: relative;

  & > .routebuilder-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;

    & > ul:first-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 250px;

      li:first-child {
        font-weight: 800;
        font-size: 27px;
        margin-left: 10px;

        > a {
          color: $rt-orange;
        }
      }

      li:nth-child(2) {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
      }
    }

    & > ul:nth-child(2) {
      font-size: 13px;
      margin-right: 20px;

      a {
        color: #999;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  & > .routebuilder-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background-color: #F1F1F1;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.15);
    z-index: 1;

    & > ul:first-child {
      align-items: center;
      display: flex;
      width: 104px;
      margin-left: 10px;

      & > li > button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 54px;
        width: 52px;
        border: none;
        background-color: #F1F1F1;

        & > i {
          font-size: 22px;
          color: gray;
          margin-bottom: 5px;
        }

      }

      li:last-child > button:active {
        background: linear-gradient(#666, #777);
        transition: all 80ms linear;
        color: white;

        & > i {
          color: white;
        }
      }

      .selected {
        background: linear-gradient(#666, #777);
        transition: all 80ms linear;
        color: white;

        & > i {
          font-size: 22px;
          color: white;
          margin-bottom: 5px;
        }
      }
    }

    & > ul:nth-child(2) {
      li {
        margin-right: 10px;

        button {
          height: 46px;
          width: 62px;
          background-color: $rt-orange;
          border-radius: 3px;
          font-size: 14px;
          color: white;
        }

      }

      button:hover {
        background-color: $rt-orange-hover;
      }
    }
  }

  #map-container {
    height: 87%;
    width: 100%;
    z-index: 0;
  }

  & > .dynamic-totals {
    position: absolute;
    bottom: 28px;
    width: 98%;
    background-color: white;
    height: 54px;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
    background-color: #F1F1F1;

    & > div:first-child {
      width: 100%;
      position: absolute;
      bottom: 36px;
      background-color: #F1F1F1;
    }

    & > div:nth-child(2) {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      & > section {
        width: 400px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        & > ul {
          display: flex;
          flex-direction: column;
          justify-content: center;

          & li:first-child {
            text-transform: capitalize;
            font-size: 18px;
            font-weight: 300;
          }

          & li:nth-child(2) {
            font-size: 11px;
            color: #666;
          }
        }
      }
      & > ul {
        text-transform: capitalize;
        font-size: 12px;
        font-weight: 400;
        margin: 10px 20px;
        cursor: pointer;
      }
    }

  }

  .modal-background {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    top: 0px;

    & > .modal-background {
      margin: auto;
      height: 450px;
      width: 600px;
      position: relative;
      margin-top: 90px;
      background-color: #efeded;
      display: flex;
      flex-direction: column;

      & > h1 {
        font-size: 28px;
        font-weight: 300;
        height: 68px;
        width: 100%;
        line-height: 72px;
        background-color: #F7F7F7;
        border-bottom: 1px solid $gray;
        text-indent: 20px;
      }

      & > div {
        margin: 20px 40px 20px 20px;

        > p {
          font-size: 13px;
          margin-bottom: 20px;
        }

        & > div {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          > input {
            width: 384px;
            height: 28px;
            font-size: 14px;
            padding: 3px 10px;
            color: #666;

          }

          > textarea {
            height: 30px;
            border: 1px solid $gray;
            padding: 10px;
            font-size: 14px;
            color: #666;
          }

          > label {
            color: #666;
            font-size: 14px;
          }

        }

      }

      > div:nth-child(8) {
        margin: 58px 20px 0px 420px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;

        > button {
          padding: 8px 20px;
          height: 100%;
          border: 1px solid $gray;
          border-radius: 2px;
          font-size: 14px;
          font-weight: 300;
          background-color: #2d2d32;
          color: white;
        }

        > button:hover {
          background-color: #45454d;
          border-color: #45454d;
        }

        .modal-click {
          padding: 8px 20px;
          border: 1px solid $gray;
          border-radius: 2px;
          font-size: 14px;
          font-weight: 400;
          color: #2d2d32;
          cursor: pointer;
        }
      }

    }

  }

  .hidden {
    display: none;
  }

}
