.session-form-background {
  background-image: image_url("tourdefrance.jpg");
  background-position: top;
  height: 100%;
  display: flex;
  justify-content: center;
  min-height: 600px;
}

.session-form-main {
  height: 592px;
  width: 400px;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.session-form > ul {
  margin-top: 14px;
  height: 306px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.session-form-header {
  width: 400px;
  height: 76px;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.session-form-header > h2 {
  color: white;
  font-size: 32px;
  font-weight: 100;
}

.session-form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 124px;
}

.session-form-title > h3 {
  color: white;
  font-size: 19px;
  font-weight: 100;
}

.session-form-field {
  width: 280px;
  height: 20px;
  padding: 10px;
  margin: 6px;
  background-color: rgba(0, 0, 0, .7);
  border: 1px solid #585858;
  font-size: 14px;
  color: white;
}

.session-form-field:focus {
  background-color: white;
  color: black;
}

.session-form-submit {
  width: 300px;
  height: 40px;
  margin-bottom: 12px;
  background-color: #fc4c02;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 54px;
}

.session-form-submit:hover {
  background-color: $rt-orange-hover;
}

.session-form-line {
  width: 360px;
  border-top: 1px solid #585858;
  position: absolute;
  bottom: 31px;
}

.session-form-error {
  color: white;
  font-size: 12px;
  font-weight: 100;
}

.demo-user-button {
  width: 300px;
  height: 40px;
  background-color: $rt-orange;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  margin-bottom: 29px;
}

.demo-user-button:hover {
  background-color: $rt-orange-hover;
}



// 400*592
