.feed-items .show-item-container > .social-buttons {
  margin-top: 2px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;

  > .likes-display {
    display: flex;
    width: 200px;
    margin-left: 24px;
    align-items: center;

    > img {
      height: 18px;
      width: 18px;
      border-radius: 10px;
      border: 2px solid white;
      margin-left: -4px;
    }

    .photo-placeholder {
      height: 18px;
      width: 18px;
      border-radius: 10px;
      border: 2px solid white;
      margin-left: -4px;
      background-color: #e6e6eb;
    }

    > p {
      font-size: 11px;
      text-indent: 12px;
    }
  }

  > section {
    display: flex;
    align-items: center;
    margin-right: 14px;

    > div {
      height: 30px;
      width: 46px;
      font-size: 14px;
      color: #606065;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e6e6eb;
      margin-right: 5px;
      border-radius: 3px;
      border: 1px solid #e6e6eb;
    }

    > .like-button {

      i {

      }

      .liked {
        color: $rt-orange;
      }
    }

    > div:hover {
      background-color: white;
    }
  }
}
